.message__card {
  width: fit-content;
  margin: 20px;
  background-color: rgb(235, 235, 235) !important;
}

.message__user {
  margin-left: auto;
  background-color: rgb(196, 186, 255) !important;
}
